{% extends "saisie_absences/index.html" %}

{% block content %}
<table class="table">
	<tr>
		<th>Nom d'utilisateur</th>
		<th>Prenom</th>
		<th>Nom</th>
		<th>Groupe(s)</th>
		<th>Email</th>
	</tr>
	{% for user in list %}
	<tr>
		<td>{{ user.username }}</td>
		<td>{{ user.first_name }}</td>
		<td>{{ user.last_name }}</td>
		<td>
			{% for g in user.groups.all %}
			<span class="group">{{ g.name }},</span>
			{% endfor %}
		</td>
		<td>{{ user.email }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}