<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
	<div class="container">
		{% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
		<form action="{% url 'accounts:login' %}" method="POST" class="form-signin" role="form">
			<h2 class="form-signin-heading">Connexion</h2>
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" class="btn btn-primary"/>
		</form>
	</div>
	<script src="{% static 'js/jquery-2.1.0.min.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>