{% extends "saisie_absences/index.html" %}
{% load addcss %}

{% block content %}
<h1>Création d'un nouvel utilisateur</h1>
	{% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
	<form action="{% url 'accounts:register' %}" method="POST" class="horizontal-form">
		{% csrf_token %}
		{% for field in form %}
			<div class="form-group">
		        {{ field.errors }}
		        {{field.label_tag}} {{field|addcss:"form-control"}}
		    </div>
	    {% endfor %}
		<input type="submit" class="btn btn-primary" />
	</form>
{% endblock %}