{% load active %}
<html>
<head>
	<title>PolyAbs</title>
	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
	<nav role="navigation" class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="" class="navbar-brand">PolyAbs</a>
			</div>

			<ul class="nav navbar-nav">
		        {% block menu %}
		        {% endblock %}
	        </ul>
	        <div class="navbar-right">
	        	<ul class="nav navbar-nav">
					<li><a href="{% url 'accounts:logout' %}">Déconnexion</a></li>
				</ul>
	        </div>
		</div>
	</nav>
	<ul class="nav nav-pills nav-stacked" style="width: 20%;margin:2%;float:left">
		<li class="{% active 'saisie:index' %}"><a href="{% url 'saisie:index' %}">Accueil</a></li>
		{% if user.is_authenticated %}
			<li class="{% active 'accounts:index' %}"><a href="{% url 'accounts:index' %}">Profil</a></li>
		{% else %}
			<li class="{% active 'accounts:login' %}"><a href="{% url 'accounts:login' %}">Connexion</a></li>
		{% endif %}

		{% for group in user.groups.all %}
			{% if group.id == 1 %}
				<li class="{% active 'saisie:list' %}"><a href="{% url 'saisie:list' %}">Absences</a></li>
				<li class="{% active 'saisie:list_tojustify' %}"><a href="{% url 'saisie:list_tojustify' %}"><span class="badge pull-right">{{ user.etudiant.toJustify }}</span>Absences non justifiées</a></li>
			{% elif group.id == 2 %}
				<li class="{% active 'saisie:justificatif' %}"><a href="{% url 'saisie:justificatif' %}">Ajouter un justificatif</a></li>
				<li class="{% active 'saisie:list' %}"><a href="{% url 'saisie:list' %}">Consulter absences</a></li>
				<li class="{% active 'accounts:register' %}"><a href="{% url 'accounts:register' %}">Ajouter utilisateur</a></li>
			{% elif group.id == 3 %}
				<li class="{% active 'saisie:saisie' %}"><a href="{% url 'saisie:saisie' %}">Ajouter des absences</a></li>
				<li class="{% active 'saisie:list' %}"><a href="{% url 'saisie:list' %}">Consulter les absences</a></li>
			{% endif %}

			{% if group.id == 4 %}
				<li class="{% active 'saisie:list_selfyear' %}"><a href="{% url 'saisie:list_selfyear' %}">Consulter absences année</a></li>
			{% endif %}
			{% if group.id == 5 %}
				<li class="{% active 'saisie:list_selfdepartment' %}"><a href="{% url 'saisie:list_selfdepartment' %}">Consulter absences département</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<section style="width: 72%; margin-left:25%;">
		{% block content %}
			<div class="alert alert-success">Bienvenue {{ user.first_name }} {{ user.last_name }}</div>
			{% for group in user.groups.all %}
				{% if group.id == 1 %}
					{% if user.etudiant.toJustify > 5 %}
					<div class="alert alert-warning">Attention: Vous avez plus de 5 absences non justifiées ces 3 derniers mois. </div>
					{% endif %}
				{% endif %}
			{% endfor %}		
		{% endblock %}
	</section>
	<script src="{% static 'js/jquery-2.1.0.min.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/chosen.jquery.min.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/init.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>