<html>
<head>
	<title>PolyAbs</title>
	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
	<nav role="navigation" class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="" class="navbar-brand">PolyAbs</a>
			</div>

			<ul class="nav navbar-nav">
		        {% block menu %}
				{% endblock %}
	        </ul>
		</div>
	</nav>
	<ul class="nav nav-pills nav-stacked" style="width: 20%;margin:2%;float:left">
		<li class="active"><a href="/">Accueil</a></li>
		<li><a href="{% url 'accounts:index' %}">Profil</a></li>
		{% if is_etudiant %}
			<li><a href="">Absences</a></li>
			<li><a href=""><span class="badge pull-right">2</span>Absences non justifiées</a></li>
		{% elif is_enseignant %}
			<li><a href="">Ajouter des absences</a></li>
			<li><a href="">Consulter les absences</a></li>
		{% elif is_secretaire %}
			<li><a href="">Ajouter un justificatif</a></li>
			<li><a href="">Consulter absences</a></li>
			<li><a href="{% url 'accounts:register' %}">Ajouter utilisateur</a></li>
		{% endif %}

		{% if is_directeur %}
			<li><a href="">Consulter absences département</a></li>
		{% endif %}
		{% if is_responsable %}
			<li><a href="">Consulter absences année</a></li>
		{% endif %}
	</ul>
	<section style="width: 72%; margin-left:25%;">
		<div class="alert alert-success">Bienvenue {{ user.first_name }} {{ user.last_name }}</div>
		{% block content %}
		{% endblock %}
	</section>
	<script src="{% static 'js/jquery-2.1.0.min.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>